rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /saved_queries/{document=**} {
      allow read: if true;
      allow write: if true;
      allow create: if true;
      allow update: if true;
      allow delete: if true;
    }
  }
}